$def with (context)

$var title: $context.title

<h1>The Envelope</h1>

<form id="envelope-form" action="" method="POST" data-response-url="$context.form_response_url">

    <div id="amount-section" class="form-group">
        <label for="$context.form_amount_input_name">Amount</label>
        <input id="amount"
               data-id="amount"
               class="form-control"
               type="number"
               name="$context.form_amount_input_name"
               value=""
               required
               min="1">
    </div>

    <div id="tag-section" class="form-group m-t-20">
        <div class="btn-group btn-group-lg" data-toggle="buttons">
            $for tag in context.form_tag_options:
            <label class="btn btn-success">
                <input id="option-$loop.index"
                       data-id="tag"
                       type="radio"
                       name="$context.form_tag_input_name"
                       value="$tag"
                       required>$tag
            </label>
        </div>
    </div>

    <div id="observations-section" class="form-group">
        <label for="$context.form_observations_input_name">Observations</label>
        <input id="observations"
               data-id="observations"
               class="form-control observation-input"
               type="text"
               name="$context.form_observations_input_name"
               value="">
    </div>

    <input id="submit"
           type="submit"
           name="submit"
           value="Submit"
           class="btn btn-lg btn-primary"
           data-loading-text="Submitting ...">

</form>

<div id="general-error-placeholder">
</div>